rails/sample_app/.idea/modules.xml
rails/demo_app/.idea/demo_app.iml
rails/demo_app/.idea/misc.xml
rails/demo_app/.idea/modules.xml
rails/demo_app/.idea/vcs.xml
rails/demo_app/.idea/workspace.xml
rails/demo_app/.idea/inspectionProfiles/Project_Default.xml
rails/sample_app/.idea/misc.xml
rails/sample_app/.idea/sample_app.iml
rails/sample_app/.idea/vcs.xml
rails/sample_app/.idea/workspace.xml
rails/blog/.idea/blog.iml
rails/blog/.idea/misc.xml
rails/blog/.idea/modules.xml
rails/blog/.idea/vcs.xml
rails/blog/.idea/workspace.xml
rails/blog/.idea/inspectionProfiles/Project_Default.xml
.idea/modules.xml
.idea/rubyPraticse.iml
.idea/vcs.xml
.idea/workspace.xml
rails/master_rails_by_actions/Gemfile.lock
rails/master_rails_by_actions/.idea/.generators
